/* On enlève le fond noir global de Vite */

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f3f4f6; /* gris clair */
  min-height: 100vh;
}
